@media only screen and (max-width: 1200px) {
    body { font-size: 18px; }

    .center-heading {
        width: 100%;
        margin-left: 30px;
    }

    header {
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;

    }

    .row { padding: 0 2%; }

    /* .section-history img {
        margin-top: 75px;
    } */
}

@media only screen and (max-width: 1023px) {
    body { font-size: 17px; }
    .section-history img {
        margin-top: 50px;
    }

    .section-history p {
        padding: 50px 0;
    }

    
}

@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    h1 { font-size: 180%; }
    h2 { font-size: 150%;}

    .section-history img {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .main-nav { display: none; }

}

@media only screen and (max-width: 480px) {

    body { font-size: 15px;}
    h1 { font-size: 180%; }
    header { background-attachment: scroll; }
    .section-history p { margin-left: 0; }
    .service p { margin-bottom: 20px; }
    .contact-phone-number { text-align: center; }
    .section-bulletin img { width: 90%; }

    .center-heading {
        text-align: center;
        margin-left: 0px;
        max-width: 87%;
    }

    .section-history img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-nav {
        text-align: center;
        margin-bottom: 8px;
    }

    .event-list li {
        padding-bottom: 8px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
}




